= form_for @invitation, {controller: "invitations", action: "create"} do |f|
  = f.label :recipient_email, "Invite new friend:", class: 'text-label'
  = f.text_field :recipient_email, placeholder: 'example@email.com', class: 'text-field'
  = f.submit "Invite!", class: 'button'