/* table width */

.table {
  width: 500px;
}

/* invitation form */

.text-label {
  margin: 15px 5px 0 15px;
  display: block;
  height: 20px;
  font-weight: bold;
}

.text-text {
  margin: 15px 5px 10px 15px;
  display: block;
  height: 20px;
}

.text-field {
  margin: 6px;
  width:	320px;
  height:	35px;
}

.button {
  width: 75px;
  height: 35px;
  background-color: #819bd2;
  color: white;
}